---
layout: default
route: templates
---

<section class="hero is-primary">
  <div class="hero-head">
    <div class="container">
      {% include header.html %}
    </div>
  </div>

  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Templates
      </h1>
      <h2 class="subtitle">
        <strong>Free</strong> HTML templates that make use of Bulma <strong>out of the box</strong>
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-one-third">
        <a class="box" href="{{ site.url }}/templates/everything.html">
          <h3 class="title is-4">Everything</h3>
          <h4 class="subtitle is-5">All Bulma elements on one page</h4>
          <figure class="image is-4by3"><img src="http://unsplash.it/640/480"></figure>
        </a>
      </div>
      <div class="column is-one-third">
        <a class="box" href="{{ site.url }}/templates/business.html">
          <h3 class="title is-4">Business</h3>
          <h4 class="subtitle is-5">Classic business homepage</h4>
          <figure class="image is-4by3"><img src="http://unsplash.it/640/480"></figure>
        </a>
      </div>
      <div class="column is-one-third">
        <a class="box" href="{{ site.url }}/templates/welcome.html">
          <h3 class="title is-4">Welcome</h3>
          <h4 class="subtitle is-5">Simple one-page introduction</h4>
          <figure class="image is-4by3"><img src="http://unsplash.it/640/480"></figure>
        </a>
      </div>
    </div>
  </div>
</section>
